
<legend>candidature</legend>
<% app.checkform_on_submit %>
  <form id="validate_canditature">
  <%= app.checkform_hidden_field('validate_canditature') %>
  
  <div class="main">Attributer à <%= owner.ref %> le module :
  </div>
  <div><%= menu_modules %>
  </div>
  <div class="small">(les modules choisis par le candidat sont entre <q>***</q>)
  </div>
  <div id="div_motif_refus_watcher-1" style="display:none;">
    <div>Ou refuser l'inscription au motif de
    </div>
    <textarea name="refus[motif]" id="motif_refus">
    </textarea>
    <div id="cb_container-refus_format" class="cb_container"><input name="refus[format]" id="refus_format" type="checkbox" /><label for="refus_format">Format ERB (HTML évalué)</label></div>

  </div>
  <div class="row buttons">
    <div class="fleft">
      <a href="admin/operation?opadmin=download_signup&sid=#{data}">Download présentation</a>
    </div>
    <input type="submit" value="OK">

  </div>
</form>