<%
# Notification permettant à l'administrateur d'attribuer un module
# à un candidat, ce qui valide son inscription.
#
# Le formulaire permet aussi de refuser cette candidature.
#
# Février 2018
#   Modification de la notification pour pouvoir choisir n'importe quel
#   module, pas seulement ceux choisi par le candidat.
#   Les modules choisis par le candidat sont marqués d'une coche.


site.require_objet 'abs_module'

# Pour ajouter une propriété qui indique si le module est choisi
class ::AbsModule
  attr_accessor :is_chosen
end


# liste_modules = data_modules.collect { |mid| AbsModule.new(mid) }

AbsModule.list.each do |mod|
  mod.is_chosen = data_modules.include?(mod.id)
end

menu_modules =
  (
    'Choisir le module…'.in_option(value: '') +
    AbsModule.list.collect do |mod|
      delimi = mod.is_chosen ? '***' : ''
      "#{delimi} #{mod.name} #{delimi}".in_option(value: mod.id)
    end.join +
    'Aucun (refus)'.in_option(value: '')
  ).in_select(id: "module_choisi-#{self.id}", name: 'module_choisi', onchange: "check_module_choisi(#{self.id}, this.value)")


lien_charger_documents = 'Download présentation'.in_a(href: "admin/operation?opadmin=download_signup&sid=#{data}", class: 'fleft')

%>

<%=
  id_div_refus = "div_motif_refus_watcher-#{self.id}"

  # =================================
  #     LE FORMULAIRE
  # =================================
  'Validation inscription'.in_legend +
  form do
    "Attribuer à <strong>#{owner.pseudo}</strong> (##{owner.id}) le module :".in_div +
    menu_modules.in_div(class:'right') +
    '<div class="small">(les modules choisis par le candidat sont entre <q>***</q>)</div>' +
    "<div id=\"#{id_div_refus}\" style='display:none'>" +
      "Ou refuser l'inscription au motif de :".in_div +
      ("".in_textarea(id: 'motif_refus', name: 'refus[motif]')).in_div(id: 'div_motif_refus') +
      "Format ERB, donc HTML évalué".in_checkbox(name:'refus[format]').in_div(class: 'tiny') +
    '</div>' +

    (lien_charger_documents + 'OK'.in_submit(class: 'btn btn-primary', right: true))
  end
%>
<%
# Un bout de code Javascript permettant d'ouvrir la section de refus
# quand on choisit le menu "Aucun (refus)" dans le choix du module.
%>
<script type="text/javascript">
check_module_choisi = function(watcher_id, val){
  var div_jid = "div#div_motif_refus_watcher-"+watcher_id;
  var o = $(div_jid);
  if(val == ''){o.show()}else{o.hide()}
}
</script>
