<h3>Poser sa candidature à l'atelier</h3>
<p>
  Poser sa candidature à l'atelier Icare ne doit pas être un acte “gratuit”. Il faut y réfléchir sérieusement avant de franchir le pas. Car contrairement aux autres formations en ligne, dont certaines tiennent plus de l'épicerie que du lieu d'apprentissage, Philippe Perret (alias <em>Phil</em>), pédagogue de l'atelier, est là pour accompagner réellement des auteurs dans leur parcours d'apprentissage et/ou le développement de leurs projets.
</p>
<p>
  La <em>motivation</em> est donc une donnée capitale qui déterminera votre acceptation ou non au sein de cette structure pédagogique unique.
</p>
<p>
Une fois muni(e) de <%= lien.aide( 100, titre: 'vos deux documents de présentation') %>, vous pouvez déposer votre candidature à l'atelier à l'aide du
  <%= "formulaire d'inscription".in_a(href: 'signup') %>.
</p>
<p>
Bonne chance à vous&nbsp;!
</p>
