<h3>Liste et tarifs des modules d'apprentissage</h3>
<p>
  Vous pouvez trouver une liste des modules d'apprentissage depuis l'accueil, en cliquant sur le lien <%= 'Modules d’apprentissage'.in_a(href: 'modules', class: 'btn small') %>.
</p>
<p>
  Cette liste présente tous les modules d'apprentissage qu'on peut suivre à l'atelier Icare, ainsi que leur tarif et leur durée.
</p>
