<h2>Durée réelle des <em>modules à durée déterminée</em></h2>

<p>
La plupart des <%= "modules d'apprentissage".in_a(href: 'modules', target: :new) %> à durée déterminée ont une durée fixée à deux mois (trois mois pour quelques modules comme le module <em>Bible de série</em>).
</p>

<p>
Il faut comprendre que cette durée est purement <em>indicative</em>. Elle est calculée pour un apprenti-auteur ayant déjà une certaine expérience et qui travaille son écriture à plein temps.
</p>

<p>
Dans la réalité, le temps passé sur un module excède largement, la plupart du temps, les deux mois. Cette durée s'étale de 4 mois à 1 an pour les icariennes et icariens qui sont passés par l'atelier.
</p>

<p class='italic'>
Notons, afin qu'il n'y ait aucune amgibuïté, que le temps passé sur un “module à durée déterminée” ne change en rien son tarif. Lorsque vous suivez ce module, son prix reste fixe quel que soit le temps que vous passez à travailler.
</p>

<p>
Dans le fonctionnement de l'atelier, chaque module correspond à un certain nombre d'étapes (en général 8 pour un module à durée déterminée simple) que l'apprenti(e)-auteur(e) doit accomplir, quel que soit le temps pris pour accomplir chacune d'elle. On pourrait même dire que plus l'apprenti(e)-auteur(e) prend de temps pour accomplir au mieux chacune des étapes —&nbsp;sans procrastiner&nbsp;— et plus il profitera de l'enseignement divulgué au sein de l'atelier.
</p>
