<h3>Comment nommer ses documents de travail ?</h3>

<h4>Les choses inutiles</h4>

<p>
Commençons par voir <span class="red">les choses inutiles</span> dans le nom de votre document.
</p>

<h5><strike>Votre nom/pseudo</strike></h5>

<p>
Votre nom ou votre pseudo sont inutiles, car aucune confusion ne peut survenir lorsque vous transmettez vos documents de travail. Ces documents est toujours associés à votre identité sur l'atelier à partir du moment où vous les transmettez par le biais de votre bureau.
</p>

<p>
En revanche, à l'intérieur de votre document, n'hésitez pas à préciser votre identité, cela facilitera la lecture des futurs lecteurs qui chercheraient vos documents ou ceux d'un(e) autre icarien(ne) sur le <%= lien.quai_des_docs %> par exemple.
</p>

<h5><strike>Le module d'apprentissage</strike> ou <strike>l'étape de travail</strike></h5>
<p>
Inutile d'indiquer le module d'apprentissage ou l'étape que vous suivez, ils sont également associés à votre document dès leur transmission.
</p>

<h4>Ce qui peut être utile</h4>

<h5>Le “nom de code” de votre projet</h5>
<p>
Il peut être intéressant, si vous suivez un accompagnement de projet, de débuter le nom du fichier par le “nom de code” du projet.
</p>
<p>
Ce nom de code est en général un nom unique composé de CAPITALES choisies à partir du titre de travail du projet. Ce peut être un sigle ou un acronoyme du film. Par exemple, si le titre est “Tout près des étoiles”, le sigle serait <strong>TPDE</strong> et le nom du fichier commencerait donc par <code>“TPDE_”</code>.
</p>

<p>
  Ce peut être également le mot principal du titre. Par exemple, si le projet a pour titre “La Piscine d'émeraude”, le nom de code pourrait être <code>“PISCINE_”</code>.
</p>
<p>
  Cela permet par exemple de faire une recherche sur le nom des fichiers sur le <%= lien.quai_des_docs %>.
</p>

<h5>Le titre de l'étape raccourci</h5>
<p>
  Pour la suite du nom, vous pouvez ensuite vous inspirer du titre ou de l'objectif de l'étape de travail. Par exemple, si l'étape est “Affinement de la structure simple”, vous pouvez appeler le document “<code>NOMCODE_Affinement_Structure.odt</code>”.
</p>

<h5>Le numéro de version</h5>
<p>
  Pour être tout à fait complet, il est également possible d'ajouter le <strong>numéro de version</strong> du document en fin de nom, précédé de la lettre “v” minuscule. Par exemple, pour une troisième version de note d'intention : “<code class="bold">NOMCODE_Note_intention_v3.docx</code>”.
</p>

<h4>À noter</h4>
<p>
Notez qu'il vaut mieux éviter les espaces dans les noms de fichiers, ainsi que tout caractère spécial. Mais si vous en laissez, ils seront automatiquement remplacées.
</p>
