<h3>Rédaction des documents de travail</h3>

<p>
Pour chaque étape de travail, un ou plusieurs “documents de travail” sont à remettre. Le contenu de ces documents est défini de façon plus ou moins explicite dans l'énoncé du travail de l'étape, sur votre bureau d'Icarien<%= user.f_ne %>.
</p>

<p>
Cependant, la forme exacte de ce document est pour une bonne part laissée à l'initiative de l'auteur, qui s'efforcera de présenter son travail de la meilleure façon possible par rapport à sa sensibilité. Dans cette perspective, très peu de contraintes formelles sont imposées.
</p>

<h4>Vos propres commentaires sur votre travail</h4>

<p>
Vous pouvez, si vous en ressentez le besoin, introduire le travail de cette étape en faisant un petit laïus pour dire ce que vous avez pensé de ce travail et ce que vous pensez du résultat que vous avez obtenu. Vous pouvez mettre en exergue, par exemple, les points qui vous ont semblé particulièrement délicats ou difficiles. Ou au contraire ceux que vous pensez avoir particulièrement réussis.
</p>

<p>
Cette introduction, au-delà de la convivialité qu'elle peut instaurer avec Phil, peut lui permettre de mieux commenter votre travail, de mieux le cerner et de vous encourager dans certaines voies qui sans ces commentaires ne se seraient peut-être pas dégagées.
</p>

<h4>Réflexions dans le texte</h4>

<p>
Vous l'avez peut-être déjà compris, Phil n'attend pas forcément un travail parfait ou abouti, sauf lorsque l'énoncé le stipule explicitement. Son approche pédagogique s'appuie sur vos écueils autant que sur vos qualités.
</p>

<p>
Sentez-vous donc tout à fait libre de laisser parfois des zones d'ombre, de doutes ou d'échec dans votre texte. <strong>Pour peu que vous les stipuliez bien à l'intérieur même du document</strong>.
</p>

<p>
Pour mettre en exergue ces “trous”, ces “zones d'ombre”, Phil vous invite à utiliser une nomenclature très simple : <strong>les double-crochets</strong>. Tout texte entre double-crochets, peut-être aussi en italique, sera considéré comme une réflexion que vous lui adressez, qui ne s'intègre donc pas au contenu proprement dit du document.
</p>
<p>
Par exemple&nbsp;:
</p>

<div class="document">
  <p>
Le protagoniste retourne chez lui. [<i>Ici, je voudrais une idée qui montre par un geste, l'humeur qui est la sienne —&nbsp;la colère&nbsp;— mais je n'ai pas encore trouvé d'idée</i>]. Il appelle sa femme et lui passe un savon.
  </p>
</div>

<p>
Vous pouvez également utiliser ces double-crochets pour émettre un jugement sur une de vos idées du moment.
</p>
<p>
Par exemple&nbsp;:
</p>

<div class="document">
  <p>
Le protagoniste retourne chez lui. Il titube, visiblement saoul [<i>je n'aime pas tellement l'idée qu'il boive, parce qu'elle ne correspond pas vraiment au caractère du personnage, mais je n'ai pas trouvé mieux pour le moment</i>]. Il appelle sa femme et lui passe un savon.
  </p>
</div>

<p>
Bien entendu, il convient de ne pas truffer la document de ce type de commentaires. Le document ne doit pas devenir un immense commentaire d'un tout petit texte qui ne contiendrait rien du tout…  Dans le cas contraire, ce n'est plus de <em>zone d'ombre</em> dont il faudra parler, mais de <em>nuit complète</em> sur votre projet. :-)
</p>
