<h3>Comment recharger ses commentaires ?</h3>
<p>
  Après avoir chargé vos commentaires depuis <%= lien.bureau('votre bureau') %>, le formulaire vous ayant permis de le faire disparait. Il ne vous est plus possible alors de recharger ces commentaires.
</p>
<p>
  Il vous est néanmoins possible de le faire pendant un mois <sup>(*)</sup> depuis la section “Documents” de votre bureau, que vous pouvez atteindre simplement en cliquant sur l'onglet de même nom (qui se trouve sous le titre de la page de votre bureau, à droite de la fenêtre).
</p>
<p class="small">
  <sup>(*)</sup> Noter que cette période d'un mois n'a rien de restrictif puisque, passé ce délai, il y a de fortes chances que votre document se trouve sur le <%= lien.quai_des_docs('Quai des docs') %>. Ce document apparait donc également dans la section “Documents” de votre bureau, mais dans la seconde partie, et il vous est alors possible de le recharger comme n'importe quel autre document.
</p>
