<h3>Inscription visiteur pour le frigo</h3>

<h4>Inscription à une discussion</h4>

<p>
  Les visiteurs quelconque — c'est-à-dire non inscrits à l'atelier - peuvent laisser des messages sur les “frigos” des icariens qui ont autorisé cette procédure.
</p>
<p>
  Si vous êtes simple visiteur et que vous voulez avoir une discussion avec un/e icarien/ne par le biais de son frigo, vous devez au préalable vous inscrire à cette discussion.
</p>
<p>
  Pour ce faire, vous devez indiquer un pseudo, un mail valide (pour être informé des réponses de l'icarien/ne) ainsi qu'un code secret. Enfin, vous devez répondre correctement au <em>captcha</em> pour confirmer que vous êtes bien un humain.
</p>
<p>
  Votre <strong>pseudo</strong> ne vous ai demandé qu'à titre convivial, un pseudo étant préférable à une simple adresse mail.
</p>
<p>
  Pour ce qui est de <strong>votre adresse mail</strong>, elle est consignée dans les bases de l'atelier mais ne sert qu'à la reconnaissance et à l'envoi de notification lorsque des réponses sont données par l'icarienne ou l'icarien.
</p>
<p>
  Noter un point important : si vous voulez avoir des discussions avec plusieurs icarien/nes, vous devez vous inscrire individuellement à chacune de ces discussions. Vous pouvez bien entendu utiliser le même pseudo, la même adresse et le même code secret.
</p>

<h4>Consultation des messages</h4>
<p>
  Après être inscrit à une discussion, vous recevrez des mails vous informant qu'une réponse ou qu'un message a été déposé sur le frigo de l'icarien/ne avec un lien vous permettant de rejoindre ce frigo.
</p>
<p>
  Il vous faut alors vous identifier pour pouvoir consulter la réponse et la discussion en question. Seuls vous sont alors demandés votre mail et votre code secret (le captcha n'est plus nécessaire, non plus que le pseudo).
</p>
