<h3>Grand Livre des Lois de la Narration</h3>

<div class="air">
<a href="http://www.scenariopole.fr/download/LOIS_NARRATION_PhilPERRET.pdf"><%= DOIGT %>Charger ou Recharger le Grand Livre des Lois de la Narration</a>
</div>
