<h3>Paiement du module</h3>

<p>Le meilleur moyen pour payer un module — ou votre échéance — est de passer par <strong>PayPal</strong>. <strong>PayPal</strong> est une solution sécurisée utilisée depuis plusieurs dizaines d'années par des millions d'utilisateurs sans le moindre problème. C'est donc une solution tout à fait sûre.</p>

<p>Pour ce faire, il suffit de cliquer sur le bouton “Payer votre module” (ou similaire) lorsque ce bouton apparait sur votre bureau, puis de suivre la procédure indiquée.</p>

<h4>Vous n'avez pas de compte PayPal</h4>

<p>Si vous ne possédez pas de compte PayPal, vous pouvez cependant payer par carte bleue sur leur site. Suivez le processus normal en cliquant sur le bouton de paiement sur le site d'atelier Icare, puis, une fois sur le site de PayPal, choisissez le paiement par carte bleue au lieu de l'identification.</p>

<p>Mais peut-être qu'il serait temps pour vous d'en profiter pour créer un compte Paypal, la procédure est rapide et gratuite.</p>

<h4>Vous voulez payer par virement bancaire</h4>

<p>Il existe aujourd'hui une solution très pratique, c'est le paiement par virement. Il suffit d'ajouter le site comme bénéficiaire de vos virements, sur votre compte bancaire, puis, une fois le bénéficiaire validé — compter parfois trois jours —, vous pouvez effectuer un virement.</p>

<p>Pour payer par virement, <a href="mailto:<%= site.mail %>?subject=IBAN">demandez simplement par mail</a> l'IBAN de Phil.</p>

<h4>Vous voulez payer par chèque</h4>

<p>Aucune des solutions précédentes ne vous convient et vous voulez payer par chèque…</p>

<p>C'est de loin la solution la moins pratique, la plus chère (deux timbres), la plus longue, nous espérons que ça n'est pas celle que vous choisirez.</p>
<p>Le cas échéant, <a href="mailto:<%= site.mail %>">contactez Phil</a> pour lui en parler.</p>