ul#updates
  *
    font-family : monospace
    font-size   : 11pt !important
  li.update
    margin      : 2.3px
    &:hover
      background-color    : #EFEFFF
    span.d
      float           : left
      font-size       : 12.5pt
      margin-right    : 1em
    span.m
      font-size       : 12.5pt
      display         : block
      margin-left     : 170px
      margin-right    : 140px
      // border          : 1px dashed green
    span.lk
      float           : right
      font-size       : 12.1pt
      margin-left     : 1em
    &.unread
      color     : red