<%
# Listing des modules
%>
<%= AbsModule.titre_h1 %>
<div id="listing_absmodules" class="container">
  <% AbsModule.each_instance(sorted: true) do |amodule| %>
    <%= amodule.as_li %>
  <% end %>
</div>
