p
  margin-bottom: 1em!important
  
ul#listing_absmodules
  list-style    : none
  margin        : 4em 0 0 0
  
  ul
    list-style-type  : square!important
  ol
    list-style-type  : decimal!important
  li.absmodule
    margin        : 2em 0
    span.name
      display       : block
      // width         : 370px
      font-variant  : small-caps
      border-bottom : 1px solid #777
    a.btn_command
      float             : right
      font-family       : Verdana
      font-size         : 14.7pt
      background-color  : #207e1e
      color             : white
      font-weight       : normal
      padding           : 1px 34px


    div.information
      margin-left   : 8em
      span.tarif
        display     : inline-block
        margin-left : 2em
        width       : 120px
        font-size   : 0.95em
        font-weight : bold
        color       : #207e1e
      span.duree
        display     : inline-block
        width       : 240px
        font-size   : 0.85em
        text-align  : center

      a.detail, a.detail_plus
        display     : inline-block
        font-family : Arial, Helvetica, Geneva
        font-size   : 12pt
        margin-left : 12em
      a.detail
        width       : 80px
      a.detail_plus
        width       : 200px

      div.shortdesc
        margin-top      : 4em
        margin-bottom   : 8em
        div.btn_bottom
          margin-top    : 4.3em
          text-align    : center
          a.btn_command
            font-size     : 1.4em
            float         : none
            padding       : 10px 48px
