<%= Atelier::Overview.titre_h1('Le Nom de l’atelier') %>

<%= Atelier::Overview.quicklinks %>

<p>Le nom de l'atelier est emprunté au mythe antique d'Icare.</p>

<p>Petit rappel de l'histoire : pour s'enfuir du labyrinthe où il avait été enfermé avec son fils Icare, Dédale a l'idée de leur fabriquer des ailes, en plumes, et de les fixer à leur dos à l'aide de cire d'abeille. Juste avant la fuite, le père met en garde son fils contre l'humidité de la mer, qui serait fatale aux plumes, et la chaleur du soleil, fatale à la cire. Mais l'adolescent, enivré par sa capacité à voler, passe outre les recommandations de son père inventeur et s'élève trop haut dans le ciel. S'approchant du soleil, la cire fixant ses ailes fond, et Icare chute dans la mer qui portera désormais son nom.</p>

<p>On donne souvent comme interprétation à ce mythe la relation entre autorité et transgression de cette autorité. Personnellement, je préfère y voir un symbole plus profond, plus subtil, qui parle de la connaissance et de la liberté artificielle qu'elle donne à celui qui l'acquiert.</p>

<p>Ici, le labyrinthe représente l'état initial de l'apprenti. Il erre dans un lieu dont il ne parvient pas à s'échapper, il est enfermé, voué à répéter toujours les mêmes erreurs — c'est-à-dire à passer sans cesse par les mêmes chemins qui le reconduisent chaque fois à son point de départ. Le soleil est un but illustoire — en réalité, Icare ne cherche même pas à l'atteindre. Les ailes, c'est la connaissance que l'apprenti acquiert par l'apprentissage, c'est le moyen de quitter son état d'incompétence.</p>

<p>Le mythe d'Icare met en garde contre le fait que si l'apprenti s'enivre trop de cette connaissance qui le libère, s'il dévoue trop de capacité à cette connaissance et s'il cherche à atteindre avec elle des buts factices, illusoires, alors il ne peut qu'échouer.</p>

<p>En d'autres termes, c'est une invitation à se méfier de la connaissance qu'on acquiert — par exemple ici, à l'atelier — et de l'illusion de force qu'elle procure. Il faut toujours rester humble et ne jamais s'appuyer sur cette connaissance pour penser atteindre son but.</p>

<p>Un apprenti aura beau apprendre par cœur toutes les règles de la narration, <%= Link.to(:G2LN, 'toutes les lois') %>, il n'en saura par pour autant créer une œuvre. S'il le pense, il chutera. De la même manière, il devra se garder de s'appuyer sur cette connaissance trop vite acquise pour justifier ses choix. Les choix artistiques doivent se justifier par eux-mêmes ou par les partis-pris, aucune règle n'est là pour remplir ce rôle.</p>

<%= Atelier::Overview.quicklinks_bottom %>
