<%
# Vue partielle affichée lorsque l'user renonce au paiement
%>
<h1>:-(</h1>
<p>
  Vous avez annulé votre paiement ou il a été refusé pour une raison ou une autre.
</p>
<p>
  Nous espérons qu'il s'agit juste d'un problème passager et que nous vous retrouverons rapidement, <%= user.pseudo %> !
</p>
