<%
# En cas d'erreur lors de la validation ou l'enregistrement du
# paiement (qui a dû être effectué)
%>
<h1>Houps… :-(</h1>
<p>
  Un problème est survenu au cours de la validation du paiement ou de sa consignation…
</p>
<p>
  Ou peut-être avez-vous rechargé la page, ce qui n'était pas conseillé. Mais dans ce cas, rassurez-vous, votre paiement n'a pas pu être redoublé et vous pouvez vous en assurer sur votre compte.
</p>
