div#page-contents
  padding: 1em 2em

section, div.content
  // Titre
  h1
    font-size       : 1.7em !important
    margin-bottom   : 1.5em !important
    margin-top      : 0 !important
  h2
    font-size       : 1.6em !important
    margin-top      : 2em !important
    margin-bottom   : 1.3em !important
  h3
    font-size       : 1.2em !important
    margin-top      : 1.4em !important
    margin-bottom   : 1em !important
  h4
    font-size       : 1.4em !important
    color           : #555
  h5
    font-size       : 1.3em !important
