@charset "utf-8"

h1, h2, h3, h4, h5, h6, h7
  font-weight: normal
  font-family: inherit
  text-align: left
h3
  font-weight: bold

section, div.content
  h1
    font-size       : 2em
    margin-bottom   : 1.5em
    margin-top      : 0
    + *:not(h2)
      margin-top: 50px

  h2
    font-size       : 1.8em
    letter-spacing  : 2px
    margin-bottom   : 2.6em

  h1+h2
    margin-top: 0
    line-height: 1.8rem

  h3
    font-size       : 1.4em
    margin-top      : 1.6em
    margin-bottom   : 1.3em
  h4
    font-size       : 1.3em
    color           : #555555
    margin-top      : 1.4em
    margin-bottom   : 0.7em

  h5
    font-size       : 1.3em !important

section#page-contents
  h1
    letter-spacing    : 4.8px
    margin-top        : 0.6em
    margin-bottom     : 0
    color             : #51725d
    a
      font-size         : inherit !important
      font-family       : inherit !important
      color             : inherit !important
      font-style        : inherit !important
      font-weight       : normal !important
  // Le premier élément sous le grand titre, si ça n'est pas un h2,
  // doit être séparé de cette distance
  h1 + *:not(h2)
    margin-top        : 50px

p.titre, div.titre
  font-variant    : small-caps
  font-size       : 1.2em
  margin-bottom   : 1.3em
  font-weight     : bold


h1 + ul.onglets
  margin-top    : 0 !important
