<%
# Pour voir aussi bien son profil que le profil d'un autre user
# mais évidemment pas avec les mêmes possibilités

enable_comments
%>
<div class="container">
  <% if user.identified? %>
    <%= (site.folder_objet+"user/profil/sous_vues/identified.erb").deserb(user) %>
  <% else %>
    <%= (site.folder_objet+"user/profil/sous_vues/non_identified.erb").deserb(user) %>
  <% end %>
</div>
