<%
# Page affichée lorsque l'utilisateur essaie de rejoindre une partie
# protégée par `raise_unless_identified` et qu'il n'est pas identifié
%>
<h1>Accès interdit</h1>
<p class='warning access_error'>
  Section réservée aux visiteurs identifiés.
</p>
<p>
  <a href="user/login">Vous identifier</a> | <a href="user/signup">Vous inscrire</a>
</p>
