<%
# Notification quand un document est en lecture
#
%>
<p>
  Votre document “<%= icdocument.original_name %>” est en cours de lecture.&nbsp;
  <% unless icdocument.expected_comments.nil? %>
    La remise des commentaires est prévue aux alentours du <%= icdocument.expected_comments.as_human_date %>.
  <% end %>
</p>
