<%= Aide::titre_h1("Pourquoi la table des matières et le logo disparaissent-ils ?") %>
<p>
  Tout est fait sur le site pour offrir la meilleure expérience de travail.
</p>
<p>
  Dans cette perspective, les éléments de l'interface sont volontairement allégés au fur et à mesure qu'on visite le site et donc qu'on le prend en main, de façon intelligente.
</p>
<p>
  La marge gauche, présentant la table des matières générale, et le bandeau supérieur, contenant le titre du site, disparaissent ainsi progressivement au cours de la navigation jusqu'à n'être plus qu'une vague silhouette.
</p>
<p>
  Mais il suffit de glisser la souris sur ces éléments pour leur redonner tout leur tonus ! :-)
</p>
