@import '../../css/common/_charte'

// Le bouton pour s'inscrire
a#btn_signup
  background-color  : #4a666c // $maincolor  !important
  color             : white !important
  font-variant      : small-caps

section#header
  div#div-logo
    background-color  : #4a666c !important
    padding           : 0rem 1rem
    z-index           : 100

    // Le titre cliquable de l'atelier
    a#site_title
      // text-shadow     : 2px 2px #3d4060
      color           : #fffffd
      font-family     : inherit
      font-size       : xx-large
      line-height:    4rem

  #main-nav-bar
    margin-top: 0.2em
    margin-left: 0
    color: #4a666c
    display: flex
    flex-wrap: wrap
    text-align: center

    a
      width: 90px
      display: inline-block
      text-align: center
      color: #4a666c
      font-variant: small-caps
      padding: 0px 4px
      font-size: 9.4pt

      &.nav-link-logout
        min-width: 110px

      &.disabled
        font-weight : normal
        color : #BBCCBB!important

      img
        width: 25.3px
        vertical-align: -6.4px
