<%
# Page d'accueil de l'aide

page.description= "Section de l'aide du site. Pour obtenir toute information sur son utilisation, sa navigation, etc."
enable_comments
%>
<%= Aide.titre_h1 %>
<div class="container">
  <%= Aide.tdm %>
</div>
