<%
# Pour afficher une page d'aide

page.description= "Affichage d'une aide."
enable_comments
%>
<%= Aide.titre_h1 %>
<div class="container">
  <div class="col col-lg-8">
    <%= site.current_route.instance.output %>
  </div>
</div>
