<%
# Vue pour récupérer son mot de passe
#
=begin
 Cas qui peuvent se présenter :
   - Une adresse mail a été fournie, et elle existe
     => On enregistre un nouveau mot de passe pour l'user et on
        lui envoie.
   - Aucune adresse mail fournie
      => Redirection vers le login
   - Une adresse fournie, mais inconnue
      => Redirection vers le login avec erreur

  Donc si on passe vraiment ici, c'est que l'adresse est OK
=end
%>
<h1>Mot de passe oublié</h1>
<form id="form_retreive_password" class="container" action="user/retreive_password" method="POST">
  <div class="content"><%# ça définit le style %>
    <p>Merci d'indiquer le mail avec lequel vous vous êtes inscrite ou inscrit.</p>
    <div class="row">
      <span class="libelle">Votre mail</span>
      <span class="value">
        <input
          type="text"
          id="user_mail"
          name="umail"
          placeholder="Votre mail"
          value="<%= param(:umail) %>"
          class="100pct" />
      </span>
    </div>
    <%= 'OK'.in_submit(class: 'btn btn-primary') %>
    </div>
  </div>
</form>

<div class="small italic discret">
  <p>
    Aucun mot de passe n'est conservé dans nos bases de données, donc nous ne sommes pas en mesure de vous transmettre à nouveau votre mot de passe.
  </p>
  <p>
    En revanche, nous vous en enregistrons un nouveau pour que vous puissiez vous connecter au site.
  </p>
  <p>
    Intéressé(e) pour <strong>savoir comment nous pouvons reconnaitre votre mot de passe</strong> sans l'avoir enregistré dans nos bases de données ?
  </p>
  <p>
    C'est très simple, lorsque vous vous inscrivez, nous créons un “sel” (un mot aléatoire) qui va nous permettre de crypter votre mot de passe.
  </p>
  <p>
    Nous enregistrons dans nos bases ce mot crypté et ce “sel”.
  </p>
  <p>
    Ensuite, lorsque vous vous identifiez, nous cryptons le mot de passe que vous fournissez avec le même “sel” et nous le comparons avec le mot de passe crypté enregistré.
  </p>
  <p>
    S'il correspond, c'est forcément que vous avez fourni le bon mot de passe !
  </p>
</div>
