<%
# Vue du bureau pour voir la liste des ses documents et pouvoir
# télécharger ses derniers documents commentés (ils restent deux mois
# dans leur dossier temporaire)
raise_unless_identified
%>
<%= Bureau.titre_h1('Documents')%>

<h3>Derniers commentaires</h3>
<%= liste_derniers_documents_commented %>

<h3>Documents déposés sur le Quai des docs</h3>
<%= lien.quai_des_docs('→ Rejoindre le Quai des docs').in_div(class: 'right') %>
<%= liste_documents_quai_des_docs %>
