<% # Mail de bienvenue envoyé à l'auteur %>
<p>
  <%= pseudo %> !
</p>
<p>Votre dossier de candidature à l'atelier Icare a bien été reçu et sera étudié dans les plus brefs délais.</p>
<p>
  Vous vous êtes inscrit<%= f_e %> avec le mail : <%= mail %>. N'oubliez pas de confirmer cette adresse grâce à l'autre message qui vous a été adressé.
</p>

<p>Vous serez informé<%= f_e %> très prochainement de la décision prise concernant votre candidature.</p>

<p>Bien à vous,</p>
