<%
# Pour voir aussi bien son profil que le profil d'un autre user
# mais évidemment pas avec les mêmes possibilités

enable_comments
%>
<%
def sous_vue vue_name
  (site.folder_objet+"user/profil/#{vue_name}.erb").deserb(self)
end
%>
<div class="container">
  <% if user.identified? %>
    <%= sous_vue('identified') %>
  <% else %>
    <%= sous_vue('non_identified') %>
  <% end %>
</div>
