<h3>Les documents de présentation</h3>
<p>
Vous pouvez déposer votre candidature à l'atelier à l'aide du
  <%= lien.signup("formulaire d'inscription") %>. Mais vous devez au préalable rédiger deux documents&nbsp;: une présentation et une lettre de motivation qui vous seront réclamées à la fin de votre inscription.
</p>

<h4>Document de présentation</h4>

<p>
Votre document de présentation comme son nom l'indique sert essentiellement à vous présenter à nous, afin de mieux adapter l'apprentissage à ce que vous êtes et ce que vous pouvez déjà connaitre en matière de narration ou de dramaturgie.
</p>
<p>
Ce document débute donc par la mention de vos nom, prénom, coordonnées ainsi que les informations d'identité que vous jugerez opportunes d'indiquer.
</p>
<p>
Vous pouvez mentionner dans ce document ce que vous avez déjà pu apprendre en matière de dramaturgie, les livres théoriques et pratiques que vous avez lus, les ateliers auxquels vous avez pu participer, afin que Phil puisse se faire une idée de votre niveau et de vos connaissances actuelles.
</p>
<p>
Vous pouvez parler brièvement des choses que vous avez déjà pu écrire, en parlant pour chacune d'elle de leur éventuel aboutissement dans une réalisation concrète (film réalisé, roman ou BD édité, etc.).
</p>
<p>
Il n'est jamais simple de savoir exactement où l'on en est de ses connaissances et de sa pratique en matière de dramaturgie et d'écriture. Vous pouvez cependant essayer de parler des forces et des faiblesses dont vous avez déjà pu faire l'expérience en écrivant. Si bien sûr vous avez déjà écrit.
</p>
<p>
Dans cette partie, vous pouvez également ajouter tout commentaire qu'il vous semblerait important de mentionner.
</p>

<h4>Lettre de motivation</h4>

<p>
Dans votre lettre de motivation, vous pouvez parler de ce qui vous pousse à vouloir intégrer l'atelier. Quel est votre but&nbsp;? Cherchez-vous à vous perfectionner pour devenir professionnel(le) ou cherchez-vous plus modestement à vous améliorer pour savoir mieux raconter vos histoires&nbsp;? À quel problème vous confrontez-vous, que vous pensez pouvoir résoudre en rejoignant l'atelier&nbsp;?
</p>
<p>
En d'autres termes, comment définiriez-vous vos espoirs en matière d'apprentissage de l'écriture, en général et au sein de l'atelier en particulier&nbsp;?
</p>
<p>
Vous pouvez en profiter pour indiquer comment vous avez entendu parler de l'atelier, quelles sont les voies, peut-être impénétrables, par lesquelles vous êtes passé(e) pour vous retrouver ici, en ce moment même, à postuler à l'atelier.
</p>
<p>
Vous pouvez enfin parler de ce que vous attendez et espérez, de façon très générale ou de façon très concrète, d'un atelier comme l'Atelier Icare.
</p>

<h4>Extrait de scénario ou autre travail d’écriture</h4>

<p>
Dans le formulaire de dépôt de votre candidature, vous pouvez également joindre à votre dossier l’extrait d'un de vos travaux d’écriture (ou le projet complet s’il n’excède pas 5 pages).
</p>

<h4>Vos documents sont prêts&nbsp;?</h4>

<p>
Une fois vos documents de présentation soigneusement rédigés, relus et corrigés, vous pouvez vérifier que leur nom de fichier n'excède pas les 40 caractères (point et extension compris).
</p>

<p>
Et vous pouvez enfin poser votre candidature en remplissant le <%= lien.signup('formulaire d’inscription') %>.
</p>
<p>
Bonne chance à vous&nbsp;!
</p>
