<h3>Codes couleur pour les commentaires</h3>

<p class='italic'>
Cette section présente le sens à donner aux couleurs qu'utilise Phil pour ses commentaires sur les documents de travail.
</p>

  <p style='color:#00F'>
Dans cette couleur (bleu), ce sont les “notes de narration” de Phil, c'est-à-dire les commentaires/remarques/réflexions/interrogations/suggestions après lecture complète du document et réflexion, concernant l'aspect narratif du projet, son contenu, son développement.
  </p>
  <p style='color:#00F'>
Cette couleur est également utilisée pour les remarques plus générales ne touchant pas nécessairement à la dramaturgie.
  </p>

  <p style='color:#00af00'>
Dans cette couleur sont faites les “notes rédactionnelles”, c'est-à-dire les remarques sur la rédaction proprement dite du document, à laquelle Phil est autant attaché qu'il peut l'être au contenu, entendu qu'un excellent projet se pénalise lui-même s'il est mal rédigé. La rédaction est donc un aspect non négligeable du travail au sein de l'atelier Icare.
</p>
  <p style='color:#00af00'>
Bien noter que ne sont visés ici que les documents susceptibles d'être remis à un lecteur (synopsis, scénario, etc.), pas les documents de travail comme les fondamentales ou les évènemenciers.
  </p>

  <p style='color:#da00a5'>
Cette couleur est utilisée pour les “notes de toute première lecture” de Phil, c'est-à-dire les réflexions qu'il a pu se faire à la découverte du document.
</p>
  <p style='color:#da00a5'>
 Ces notes sont capitales parce qu'elles contiennent en substance ce que le document pourra donner comme première —&nbsp;et souvent seule&nbsp;— impression au lecteur (producteur, acteur, etc.) et cette impression est déterminante pour l'avenir du projet.
 <p>
  <p style='color:#da00a5'>
 <em>Nota Bene</em> : Phil essaie de faire preuve d'un manque absolu d'indulgence pour ces notes-là, flirtant allègrement avec la mauvaise foi parfois, s'inspirant des lecteurs/producteurs qu'il connait et qui deviennent redoutables lorsqu'ils se lisent du scénario à longueur de journée. Donc attention, redoutables, ces notes le sont aussi et elles peuvent heurter la sensibilité des plus fragiles. ;-)
  </p>
<p>
Bien entendu, faut-il le dire, toutes ces remarques ont un caractère subjectif et n'ont pas valeur d'absolu. C'est le regard de Phil, éclairé peut-être, mais seulement son regard.
</p>
<p>
Une dernière chose encore, très importante : dans ces commentaires, même si Phil fait parfois de l'humour, il essaie de proscrire absolument l'ironie (qui consiste à dire le contraire de ce qu'on veut exprimer). Car l'ironie est la mère de tous les conflits de communication. Phil ne s'y risque que lorsque cette ironie est patente, lorsqu'elle se comprend sans la moindre ambiguïté.
</p>
<p>
Autrement dit, lorsque Phil écrit « Oh, un personnage qui réfléchit, ça va faire exploser plusieurs immeubles, ça ! », ça ne peut être que de l'ironie, la phrase se désintégrant d'elle-même. Le reste du temps, il est capital de lire les commentaires au premier degré. Si Phil écrit « Joli ! », ça signifie qu'il trouve effectivement l'idée jolie (quand bien même il aurait fait une grosse critique juste au-dessus de cette louange). Il ne faudra jamais comprendre cette remarque comme de l'ironie qui sous-entendrait que l'idée est ridicule ou mièvre. Si Phil trouve l'idée ridicule ou mièvre, il écrira « Je trouve cette idée un peu mièvre. » ou, mieux « Cette idée n'est-elle pas un peu mièvre ? » ou, plus sympathiquement « Ne trouves-tu pas cette idfée un peu mièvre ? ».
</p>
