<h3>Types de documents de travail</h3>

<p>
Vous pouvez utiliser les types de documents de tous les traitements de texte les plus usuels.
</p>

<h4>Types de documents préférés</h4>

<ul style="list-style:none;">
  <li><strong>.odt</strong>. Documents-texte de l’application LibreOffice (anciennement OpenOffice)&nbsp;;</li>
  <li><strong>.doc</strong> / <strong>.docx</strong>. Documents-texte de l’application Word.</li>
</ul>

<p>
Ces deux types de documents doivent être choisis en priorité.
</p>

<h4>Autres types de documents</h4>

<ul style="list-style:none;">
  <li><strong>.pdf</strong>. Document PDF produit par différents logiciels, dont ceux d'Abode ou de LibreOffice. Ce format ne doit être choisi que pour des mises en page très particulières, comme des tableaux en paysage. Il n'est pas pratique du tout pour les commentaires&nbsp;;</li>
  <li><strong>.rft</strong>. La mise en page sera fortement altérée d'un ordinateur à l'autre&nbsp;;</li>
  <li><strong>.txt</strong>. Aucune mise en page ne sera possible ;</li>
  <li><strong>.celtx</strong>. Peut-être éventuellement employé pour un scénario écrit sous l’application libre CeltX ;</li>
  <li><strong>.htm</strong> / <strong>.html</strong>. Documents au format web ;</li>
  <li><strong>.c</strong>. Heu… oui, vous pouvez toujours tenter d’envoyer un fichier de code C++… mais il ne vous sera pas forcément rendu. ;-)</li>
</ul>


<h4>Document des commentaires de Phil</h4>

<p>
  Le document contenant les commentaires de Phil correspondra au type de document que vous avez initialement envoyé ou il se fera parfois en PDF.
</p>
