<h3>Ajout de documents de travail</h3>

<p>
Dans votre bureau de travail, lorsqu'une étape de travail est en cours, vous trouvez un formulaire vous permettant d'envoyer vos documents de travail (jusqu'à 5 documents).
</p>
<p>
Lorsque vous avez soumis vos documents, ce formulaire disparait et vous ne pouvez plus soumettre d'autres documents.
</p>

<p>
On pourrait se demander pouquoi, on pourrait le regretter, mais se pose-t-on la question lorsque l'on se trouve dans une “école en dur”&nbsp;? Dans cette “école en dur”, lorsque la copie est rendue, il est impossible de la modifier ou d'en fournir une autre au professeur.
</p>

<p>
Il en va simplement de même à l'atelier avec les documents de travail, qui sont transmis une fois pour toutes.</p>

<p>
   Aussi, veillez toujours par deux fois à ce que ces documents correspondent bien à ce que vous voulez transmettre, car vous n'aurez pas de seconde chance !
</p>

<p class="small italic">
En réalité, bien sûr que vous avez une seconde chance ! ;) Si, exceptionnellement, vous deviez transmettre un autre document à Phil, vous pouvez toujours le faire en le lui transmettant par mail. Vous trouverez l'adresse mail de l'atelier dans les mails que vous avez déjà pu recevoir et si vous n'en possédez plus, prenez contact avec Phil à l'aide du formulaire de contact que vous pouvez atteindre grâce au lien “Contact” ci-contre.
</p>
