<h3>Échéance du travail</h3>
<p>
  L'“échéance de travail” correspond à la date à laquelle vous êtes censé<%= user.f_e %> remettre votre travail sur l'étape courante. Cette échéance est indiquée sur votre bureau, dans le cadre des informations sur le module courant.
</p>
<p>
  Un menu permet de régler cette échéance de travail à sa convenance, en fonction des aléas de sa vie privée ou professionnelle.
</p>
<p>
  Notez que par défaut cette échéance est calculée <em>au plus court</em>. En règle générale, vous devriez donc toujours l'allonger pour vous accorder le temps nécessaire à fournir un travail le plus satisfaisant possible.
</p>
