<h3>Contact par mail</h3>

<p>
  Dans les préférences de votre <%= lien.profil %>, vous pouvez définir si les autres icariens et icariennes peuvent vous contacter.
</p>
<p>
  Si vous choisissez l'item “par mail”, alors les autres icariens pourront vous contacter par le biais du <%= lien.contact('formulaire de contact')%> du site.
</p>
<p>
  Si vous choisissez l'item “par message”, alors les icariens pourront vous laisser des messages sur votre bureau de travail.
</p>
<p>
  Enfin, si vous choisissez “Aucun contact”, les autres icariens ne pourront vous contacter ni par mail ni par message. C'est dommage, mais c'est tout à fait de votre ressort de choisir cette option.
</p>
