<h3>Contact avec le monde</h3>

<p>
  Dans les préférences de votre <%= lien.profil %> vous pouvez déterminer comment le “reste du monde”, c'est-à-dire les non-icariens, peuvent vous contacter.
</p>
<p>
  Les options sont les suivantes :
</p>
<ul>
  <li><strong>par mail et par message</strong>. Si vous choisissez cette option, n'importe qui pourra vous contacter par mail ou par message sur votre bureau (notez cependant que votre adresse mail ne sera jamais transmise, l'envoi se fera par le biais du <%= lien.contact('formulaire de contact du site')%>) ;</li>
  <li><strong>par mail seulement</strong>. Avec cette option, on ne pourra vous contacter que par mail (avec la même réserve que ci-dessus : votre adresse mail ne sera pas transmise) ;</li>
  <li><strong>par message seulement</strong>. Avec cette option, le reste du monde ne pourra vous contacter que par message sur votre bureau ;</li>
  <li><strong>Aucun contact</strong>. Si vous choisissez cette option, aucun non-icarien ne pourra vous contacter, ni par mail, ni par message sur votre bureau.</li>
</ul>
