<h3>Le <em>cotage</em> des documents</h3>

<p>
“Coter” un document du Quai des docs consiste à lui attribuer une note de 1 à 5 permettant de définir son intérêt et éventuellement de laisser un court commentaire.
</p>
<p>
  Noter pour commencer que <u>cette cote de vise pas à estimer la <em>valeur</em> en tant que telle du document</u>, mais bien plutôt <strong>son intérêt pour l'apprentissage de la narration</strong>.
</p>
<p>
  Dans ce sens, il y a fort à penser qu'un document de mauvaise qualité dramatique représente un intérêt tout aussi grand, voire plus grand, qu'un document racontant parfaitement une histoire parfaite.
</p>

<p>
  En bref, pour coter un document, ça n'est pas la question “ce document raconte-t-il une histoire intéressante ?” qu'il faut se poser, ou “ce document était-il bien écrit ?”, mais plutôt la question “Ai-je appris quelque chose en consultant ce document ?”, ou la question “Ce document peut-il m'aider dans ma propre écriture ?”.
</p>

<h4>Formulaire de cotage du document</h4>

<p>
  Lorsque vous avez téléchargé un document du Quai des docs, votre bureau présente une notification vous permettant de coter ce document et de le commenter.
</p>
<p>
  Noter que ce commentaire s'adresse non pas à l'auteur du document mais aux futurs lecteurs qui seraient intéressés par ce document. Ce commentaire pourrait ressembler à quelque chose comme : “<em>Dans les commentaires de ce document, Phil présente la façon de décrypter un projet de façon intéressante.</em>”.
</p>
<p>
  Vous pouvez donc, grâce à ce commentaire, mettre un point en exergue, qui vous a particulièrement intéressé ou semblé intéressant pour les futurs lecteurs.
</p>
