<%
# Section rejointe quand l'administrateur veut visiter le site
# comme un user.
raise_unless_admin

def menu_icariens
  User.values_select.in_select(name: 'as_user')
end

%>
<h1>Visiter le site comme…</h1>
<%=
case param(:operation)
when NilClass
  (
    'visite_as'.in_hidden(name: 'operation') +
    ('Prendre l’identité de ' + menu_icariens + ' pour visiter le site.').in_span(class:'value').in_div(class:'row') +
    'GO'.in_submit(class: 'btn btn-primary')
  ).in_form(action: 'admin/visit_as', class: 'container')
when 'visite_as'
  user_as = User.new(param(:as_user).to_i)
  app.visit_as user_as
  # On peut régler
  "Vous pouvez visiter à présent le site comme #{user_as.pseudo}.".in_p +
  'Il faudra penser à se déconnecter pour détruire la “visite comme…”.'.in_p(class: 'orange')
end
%>
