<%
# Mail pour un avertissement de dépassement d'échéance de paiement
# de niveau 4
%>
<p><%= pseudo %>,</p>
<p>
  Malgré nos trois mails d'avertissement précédents, votre paiement pour votre module d'apprentissage au sein de l'atelier Icare n'a toujours pas été réglé.
</p>
<p>
  Merci de procéder au plus vite à ce paiement en <%= lien.bureau('rejoignant votre bureau') %> et en utilisant le formulaire dédié.
</p>
<p>
  Dans le cas contraire, nous serons navrés de devoir étudier la résiliation de votre inscription à l'atelier.
</p>
<p>
  En vous remerciant d'avance,
</p>
<!-- AVERTISSEMENT ECHEANCE PAIEMENT 4 -->
