<%
# Mail pour un avertissement de dépassement d'échéance de paiement
# de niveau 5
%>
<p><%= pseudo %>,</p>
<p>
  Votre paiement n'ayant toujours pas été effectué malgré nos diverses relances, nous nous voyons malheureusement dans l'obligation de vous radier de l'atelier.
</p>
<p>
  Il vous reste quelques jours de sursis pour procéder au paiement en <%= lien.bureau('rejoignant votre bureau') %> et en utilisant le formulaire dédié.
</p>
<p>
 Passé ce délai, votre inscription à l'atelier Icare sera définitivement résiliée.
</p>
<p>
  Cordialement,
</p>
<!-- AVERTISSEMENT ECHEANCE PAIEMENT 5 -->
