<%
# Ma page de présentation

enable_comments
%>
<h1>
  <div class="fright" style="margin: 0 0 1em 0">
    <%= image('divers/phil-medaillon.png', class: 'fright', style: 'width: 300%') %>
  </div>  Philippe Perret
</h1>
<div style="clear:both"></div>
<div style="margin-left:6em; width: 27em;">
<p>
  <auteur>Philippe Perret</auteur>, alias “Phil”, est le concepteur et le rédacteur principal de la Boite à Outils de l'Auteur.
</p>
<p>
  Scénariste professionnel pour le cinéma et la télévision, romancier, musicien et compositeur, il se passionne pour la pédagogie depuis plus de 30 ans. La bienveillance qu'il a toujours mise dans l'accompagnement de très nombreux auteurs, notamment au sein de l' <%= 'Atelier Icare'.in_a(href: 'http://www.atelier-icare.net', target: :new) %>, n'a d'égale que son exigence, qui a conduit de nombreux projets à se réaliser (films, romans, livres pour enfants, etc.) et a permis à des auteurs de se professionnaliser.
</p>
<p>
  Phil rêvait de pouvoir rassembler ses différents travaux sur un unique site, et rêvait encore plus fort de pouvoir proposer des outils “révolutionnaires” tels que le <%= "programme #{Unan::PROGNAME_MAJ}".in_a(href: 'unan/home', target: :new) %>. C'est chose faite avec <%= site.name.in_span(class: 'bold') %> !
</p>
</div>
