<%
# C'est une page de test
#
# Elle a été inaugurée pour tester les commentaires de page

enable_comments
%>
<%
# Ne pas modifier le titre de la page, elle sert de repère
%>
<h1>Site / page de test</h1>
