<%
=begin
  Formulaire d'identification

  Il peut être atteint lorsqu'une partie nécessite d'être
  identifiée et que l'user ne l'est pas. Dans ce cas-là,
  on doit mémoriser la route que devra prendre ensuite
  l'user s'il se loggue correctement.

  Cette route peut être consignée dans le paramètre :backto
  pour certaines routes qui font sciemment la redirection.
  Mais si c'est le même module (ce formulaire) qui est
  rechargé (suite à une erreur par exemple), alors c'est
  dans param(:login) qu'on trouvera la clé :back_to qui
  contiendra la valeur.

=end
%>

<%
backto =
  if param(:backto) != nil
    param(:backto)
  elsif param(:login) != nil
    param(:login)[:back_to]
  else
    ""
  end
%>

<%=
  # Éventuellement, un message d'erreur, typiquement quand l'user a
  # voulu rejoindre une page qui nécessitait une identification.
  page.error_in_page
  %>

<form id="form_user_login" action="user/login" method="POST" class="container">
  <div class="content"><%# ça définit le style %>
    <input tabindex="1" type="text" id="login_mail" name="login[mail]" placeholder="Votre mail" value="" />
    <input type="password" id="login_password" name="login[password]" placeholder="Votre code secret" value="" />
    <input type="hidden" name="login[back_to]" value="<%= backto %>">
    <div class='submit'>
      <div id="login_ulinks">
        <span>&nbsp;</span>
        <span class='ulink'><a href="user/signup">S'inscrire</a></span>
        <span> </span>
        <span class='ulink'><a href="user/retreive_password">Code oublié</a></span>
        <span> </span>
      </div>
      <input type="submit" value="OK" onclick="return $.proxy(User,'check_login')()" />
      <span>&nbsp;</span>
    </div>
  </div>
</form>
