<%
# Entête des messages mail
%>
<tr id="logo" style="<%= Mail.style_div_logo %>">
  <td colspan="3">
    <div style="font-size:1.4rem;font-variant:small-caps;padding:8px 32px;background-color:#578088;color:white;">
      <%= site.name.in_a(href:'http://www.atelier-icare.net', style:'color:inherit;text-decoration:inherit;') %>
    </div>
  </td>
</tr>
<%
# ---------------------------------------------------------------------
#   CITATION
%>
<tr id="citation">
  <td style="min-width:25%;width:25%">&nbsp;</td>
  <td colspan="2" style="font-size:0.85rem!important;padding:1rem;">
    <%# Affichage d'une citation prise sur BOA %>
    <%

      Mail.instance_variable_get('@citation_courante') || begin

        hquote = site.get_a_citation

        url_citation    = "#{site.url_boa}/citation/#{hquote[:id]}/show"
        style_citation  = 'text-decoration:none;color:#555555;font-style:italic;'
        style_auteur    = 'text-align:right;font-weight:bold;'

        q = hquote[:citation].strip_tags(' ')
        current_quote =
          (
            "#{q}".in_a(href: url_citation, style: style_citation).in_div(id: 'quote_citation') +
            hquote[:auteur].in_div(id: 'quote_auteur', style: style_auteur)
          ).in_div(style:'text-align:left;')
        Mail.instance_variable_set('@citation_courante', current_quote)
      end
    %>
    <%= Mail.instance_variable_get('@citation_courante') %>
  </td>
</tr>
