<%# Inscription à l'atelier %>

<h1>Poser sa candidature</h1>

<%

if user.identified?
  flash("Vous êtes déjà inscrit#{user.f_e} à l'atelier Icare, #{user.pseudo} !")
  site.redirect_to('user/profil')
end

#
# Traitement de l'opération courante, en fonction du state
#
Signup.traite_operation

%>

<%=
  #
  # Construction du bandeau indiquant l'étape courante et
  # permettant de revenir en arrière
  #
  Signup.bandeau_states
%>

<%=
  #
  # Affichage de la page courante
  #
  Signup.current_page
%>
