<% raise_unless_admin %>
<% Admin.require_module 'user_checks' %>
<div id="" class="explication">
  Cette section permet de checker les valeurs générales d'un icarien et, le cas échéant, de proposer de réparer les erreurs qu'on a pu lui trouver.
</div>
<fieldset>
  <form action="admin/user_checks" method="POST">
    <table id="choix_icarien">
      <tr>
        <td><%= Admin.menu_icariens %></td>
        <td><input type="submit" value="Check" class="btn-primary"></td>
      </tr>
    </table>
  </form>
</fieldset>
<section id="resultats">
  <form action="admin/user_checks" method="POST"><%=
    Admin.output
%></form>
</section>
