<%
# Mail de bienvenue envoyé à l'auteur
#
# Il est envoyé forcément avant le paiement même si l'user va
# s'abonner au site.
%>
<p>
  <%= pseudo %>, bienvenue à l'atelier Icare !
</p>
<p>
  Vous vous êtes inscrit<%= f_e %> avec le mail : <%= mail %>. N'oubliez pas de confirmer cette adresse par le biais de l'autre message qui vous a été adressé.
</p>
<p>
  Nous vous souhaitons un agréable séjour à l'atelier !
</p>
