<%
# Vue lorsque c'est un user qui n'est pas identifié
%>
<p>
  Vous n'êtes pas abilité à visiter les profils des utilisateurs du site. Vous devez au préalable <a href="user/signup">vous inscrire</a>.
</p>
