<h2>Confirmation de votre inscription</h2>

<div class="container">

<p>
  N'oubliez pas de confirmer votre mail <code class="green"><%= user.mail %></code> grâce au message qui vient de vous être transmis à cette adresse.
</p>

<p>
  <%= user.pseudo %>, votre candidature a bien été enregistrée. Une réponse va vous être envoyée sous quelques jours.
</p>

<p>
  En attendant, si ça n'est déjà fait, vous pouvez prendre connaissance du fonctionnement de l'atelier grâce aux <%= 'éléments de présentation'.in_a(href: 'overview/home') %> ou grâce à l'<%= 'aide du site'.in_a(href: 'aide/home') %>.
</p>

<p>En espérant vous compter bientôt parmi nous,</p>

<p>Le Bot de l'atelier Icare</p>

</div>
