<%
# Page affichée lorsque la vue ou le module est protégé par la méthode
# `raise_unless( condition )`
%>
<h1>Accès interdit</h1>
<p class='warning access_error'>
  Vous n'avez pas accès à cette section réservée du site.
</p>
